{% block content %}
	<h1 style="text-align:center;">Remove book</h1>
	<div class="container" style="padding-left: 20px">
		<h3>{{ book.title }}</h3>
		<img src="{{book.thumbnail}}">
		<form method="post">
			{% csrf_token %}
			<div id="index_form">
				<br>
				Are you sure you want to remove the book from the inventory?
				<p></p>
				<div>
					<button type="submit" name="yes" class="btn btn-outline-info">Yes</button>
					<button type="cancel" name="cancel" class="btn btn-outline-info">Cancel</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}