{% block content %}
  <h1 style="text-align:center;">Spoonshot Library</h1>
	<form method="post">
		{% csrf_token %}
		{{ searchform.errors }}
	  <input name="searchField" type="text" placeholder="Books search" required>
	  <button type="submit" name="button">Search</button>
	</form>
<h2>Inventory</h2>
  {% if book_list %}
  <ul>
    {% for book in book_list %}
      <li>
        {{book.id}}. <a href="{{ book.count }}" title="{{ book.author }}">{{ book.title }}</a> ({{book.count}})   <a href="{% url 'inventoryUpdate' book.id %}">update</a> | <a href="{% url 'inventoryRemove' book.id %}">remove</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}